---
layout: default
---

<section class="hero hero--journal">
  <div class="wrapper">
    <h1>Journal</h1>
  </div>
</section>

<section class="featured-posts">
  <div class="wrapper">
    <a href="article.html" class="card--featured">
      <div class="card-image" style="background-image: url('assets/images/photos/plantplaceholder.jpg')"></div>
      <div class="card-detail">
        <div class="card-main">
          <h2>This is the title for a featured post</h2>
          <p>Article description goes here</p>
        </div>
        <p>Published on 2nd May 2018</p>
      </div>
    </a>
  </div>
</section>

<section class="latest-posts">
  <div class="wrapper">
    <p>Latest Posts</p>
    <div class="card-feed">

      <a href="article.html" class="article-card">
        <div class="card-image" style="background-image: url('assets/images/photos/plantplaceholder.jpg')"></div>
        <div class="card-detail">
          <div class="card-main">
            <h2>This is the title for a featured post</h2>
            <p>Article description goes here</p>
          </div>
          <p>Published on 2nd May 2018</p>
        </div>
      </a>

      <a href="article.html" class="article-card">
        <div class="card-image" style="background-image: url('assets/images/photos/plantplaceholder.jpg')"></div>
        <div class="card-detail">
          <div class="card-main">
            <h2>This is the title for a featured post</h2>
            <p>Article description goes here</p>
          </div>
          <p>Published on 2nd May 2018</p>
        </div>
      </a>

      <a href="article.html" class="article-card">
        <div class="card-image" style="background-image: url('assets/images/photos/plantplaceholder.jpg')"></div>
        <div class="card-detail">
          <div class="card-main">
            <h2>This is the title for a featured post</h2>
            <p>Article description goes here</p>
          </div>
          <p>Published on 2nd May 2018</p>
        </div>
      </a>

    </div>
  </div>
</section>

<footer>
{% include mail_cta.html %}
{% include footer_slim.html %}
</footer>
