<div class="artist--card">
  <div class="artist--image" style="background-image: url(assets/images/photos/eventplaceholder.jpg);"></div>
  <div class="artist--details">
    <h2>Sarah Jane</h2>
    <p>Mixed media artist, painter and illustrator from Sydney.</p>
    <div class="artist--links">
      <a href="#"><img src="assets/images/icons/facebook.svg"></a>
      <a href="#"><img src="assets/images/icons/instagram.svg"></a>
      <a href="#" class="website-link">Website</a>
    </div>
  </div>
</div>
