<div class="event-card">
  <div class="event-card--timedate">
    <p class="event-card--date">Mon 12 Feb</p>
    <p class="event-card--time">7.00pm</p>
  </div>
  <div class="event-card--image" style="background-image: url(assets/images/photos/eventplaceholder.jpg);"></div>
  <div class="event-card--details">
    <h4>Life drawing social</h4>
    <p class="event-card--description">A quick description about the event goes here.</p>
    <img src="assets/images/icons/marker.svg">
    <p class="event-card--location">Carriageworks, Sydney</p>
    <a href="eventpage.html" class="event-card--button button">Tickets and Details</a>
  </div>
</div>
