<div class="footer_slim">

  <div class="wrapper">

    <nav class="terms-nav">
      <p>© Flipside Studios <script type="text/javascript">
  document.write(new Date().getFullYear());
</script></p>
      <a href="terms.html">Terms and Conditions</a>
      <a href="privacy.html">Privacy Policy</a>
    </nav>

    <nav>
      <a href="contact.html">Contact</a>
      <a href="faqs.html">FAQs</a>
      <a href="giftcards.html">Gift Cards</a>
      <a href="venue.html">Become a Venue</a>
      <a href="privateevents.html">Private Events</a>
    </nav>

    <nav>
      <a href="careers.html">Careers</a>
      <a href="journal.html">Journal</a>
    </nav>

    <nav class="footer--social">
      <a href="#">
        <img src="assets/images/icons/facebook.svg">
      </a>

      <a href="#">
        <img src="assets/images/icons/instagram.svg">
      </a>

      <!-- <a href="#">
        <img src="assets/images/icons/messenger.svg">
      </a> -->

      <!-- <a href="#">
        <img src="assets/images/icons/pinterest.svg">
      </a> -->

      <!-- <a href="#">
        <img src="assets/images/icons/twitter.svg">
      </a> -->
    </nav>

  </div>



</div>
