<header>
  <a href="home.html" class="header--logo">
    <img src="assets/images/icons/logo.svg">
  </a>

  <nav class="header--main">
    <a href="events.html">Events</a>
    <a href="ethos.html">Our Ethos</a>
    <a href="contact.html">Contact</a>
    <a href="faqs.html">FAQs</a>
  </nav>

  <!-- <nav class="header--options">
    <a href="events.html">
      <img src="assets/images/icons/search.svg">
    </a>
    <a href="checkout.html">
      <img src="assets/images/icons/cart.svg">
    </a>
  </nav> -->

  <nav class="mobile-nav">
    <div class="mobile-nav-links">
      <a href="events.html">Events</a>
      <a href="ethos.html">Our Ethos</a>
      <a href="contact.html">Contact</a>
      <a href="faqs.html">FAQs</a>
    </div>
  </nav>

  <div id="nav-icon3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
