<section class="mail-cta">
  <div class="wrapper">
    <h2>The fun doesn't end when the night does</h2>
    <p>Subscribe to our newsletters and be the first to receive discounts, exclusive deals, and lifestyle hacks from our blog.</p>


    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://matthewvernon.us9.list-manage.com/subscribe/post?u=65e0327de0853f38aae490876&amp;id=c99a126f7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc-signup-form">
        <div class="mc-field-group">
    	     <!-- <label for="mce-EMAIL">Email Address</label> -->
    	      <input type="email" placeholder="Your Email Address" name="EMAIL" class="email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
      	     <!-- <label for="mce-EMAIL">Email Address</label> -->
      	      <input type="text" placeholder="Your Postcode" name="POSTCODE" class="email" id="mce-EMAIL">
            </div>
    	   <div id="mce-responses" class="clear">
    		     <div class="response" id="mce-error-response" style="display:none"></div>
    		     <div class="response" id="mce-success-response" style="display:none"></div>
    	   </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
         <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65e0327de0853f38aae490876_c99a126f7c" tabindex="-1" value=""></div>
         <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
  </div>



</section>
