<div class="searchbar">
  <div class="searchbar--location input-wrap">
    <input type="text" placeholder="Search events via Location" class="has-icon darker">
    <span class="field-icon">
      <img src="assets/images/icons/searchfield.svg">
    </span>
  </div>
  <div class="searchbar--date">
    <input type="date" class="date-picker-left darker">
    <input type="date" class="date-picker-right darker">
  </div>
  <div class="searchbar--tickets">
    <select name="tickets" class="darker">
      <option value="1">1 Ticket</option>
      <option value="2">2 Tickets</option>
      <option value="3">3 Tickets</option>
      <option value="4">4 Tickets</option>
      <option value="5+">5+ Tickets</option>
    </select>
  </div>
  <a href="#" class="button" id="search-button">Search</a>
</div>
