footer {
  background-color: white;
}

.footer_slim {
  padding: 60px 30px 100px 30px;
  font-family: $mono;

  @include small {
    padding: 50px 30px 30px 30px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include small {
      flex-direction: column;
    }
  }

  nav {
    @include small {
      text-align: center;
      margin: 0 auto 30px auto;
    }
  }

  nav a {
    display: block;
    margin-bottom: 10px;
  }

}

.footer--social {
  display: flex;
  flex-direction: row;
}


.footer--social a {
  display: inline;
  margin-right: 10px;
}

.footer--social a:last-child {
  display: inline;
  margin-right: 0px;
}


.mail-cta {
  text-align: center;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 60px;

  @include small {
    padding-top: 50px;
  }

  h2 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 46px;

    @include small {
      font-size: 36px;
    }
  }

  p {
    margin: 0 auto;
    max-width: 500px;
  }


  #mc-signup-form {
    margin-top: 40px;
    display: flex;

    @include small {
      flex-direction: column;
    }
  }

  .mc-field-group {
    flex: 1;
    margin-right: 10px;

    @include small {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

#mc_embed_signup {
  max-width: 800px;
  margin: 0 auto;
}

.terms-nav {
  p {
    margin-top: 0;
  }

  a {
    font-size: 12px;
    color: #181C52;
  }
}
