@import url("//hello.myfonts.net/count/35dfad");

@font-face {
  font-family: 'Campton-Book';
  src: url('webfonts/35DFAD_0_0.eot');
  src: url('webfonts/35DFAD_0_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/35DFAD_0_0.woff2') format('woff2'),
  url('webfonts/35DFAD_0_0.woff') format('woff'),
  url('webfonts/35DFAD_0_0.ttf') format('truetype');
  font-weight: 400;
	font-style: normal;
}


@font-face {
  font-family: 'Campton-Medium';
  src: url('webfonts/35DFAD_1_0.eot');
  src: url('webfonts/35DFAD_1_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/35DFAD_1_0.woff2') format('woff2'),
  url('webfonts/35DFAD_1_0.woff') format('woff'),
  url('webfonts/35DFAD_1_0.ttf') format('truetype');
  font-weight: 600;
	font-style: normal;
}


@font-face {
  font-family: 'Campton-SemiBold';
  src: url('webfonts/35DFAD_2_0.eot');
  src: url('webfonts/35DFAD_2_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/35DFAD_2_0.woff2') format('woff2'),
  url('webfonts/35DFAD_2_0.woff') format('woff'),
  url('webfonts/35DFAD_2_0.ttf') format('truetype');
  font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'NoeDisplay-Bold';
  src: url('webfonts/noedisplaybold.eot'),
  url('webfonts/noedisplaybold.woff') format('woff');
  font-weight: 800;
	font-style: normal;
}
