.article-header {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 80px;

  h1 {
    font-size: 66px;
    letter-spacing: -1px;
    line-height: 1;
    max-width: 800px;
    margin: 0 auto 60px auto;
  }
}

.article-content {

  .wrapper {
    max-width: 780px;
  }

  img {
    width: 100%;
  }

  .lead-in {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1.4;
    margin: 60px 0;
  }
}
