.home--hero {
  text-align: center;
  padding: 40px 30px 40px 30px;
  background-size: cover;
  background-position: center;

  @include medium {
    padding: 20px 0;
  }

  h1 {
    font-size: 56px;
    max-width: 1000px;
    margin: 60px auto 0px auto;

    @include medium {
      margin: 40px auto 0px auto;
    }

    @include small {
      font-size: 30px;
    }
  }

  h2 {
    font-family: $camp-semi;
    font-size: 24px;
    margin-top: 20px;

    @include small {
      font-size: 22px;
    }
  }
}

.ethos-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 30px;
  background-color: #ffbd63;

  @include small {
    padding: 30px;
  }

  h2 {
    font-size: 56px;
    color: white;

    @include small {
      font-size: 36px;
    }
  }

  span {
    color: $navy;
  }

  div {
    max-width: 865px;
    margin: 0 auto;
  }
}


/// INDEX STYLING FEEL FREE TO DELETE THIS ONCE THE SITE IS LAUNCHED

.index {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  h2 {
    font-family: $camp-semi;
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 30px;
  }

  a {
    font-family: $noe;
    font-size: 36px;
    margin-bottom: 10px;
  }
}
